* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

:root {
  --hue: 190;
  --primary-color: hsl(var(--hue), 100%, 26%);
  --headline: hsl(210, 11%, 15%);
  --paragraph: hsl(210, 9%, 31%);

  --brand-beige: hsl(39, 100%, 97%);
  --brand-light: hsl(calc(var(--hue) - 22), 23%, 89%);
  --brand-light-2: hsl(calc(var(--hue) + 10), 14%, 97%);
  --brand-dark: hsl(var(--hue), 100%, 14%);

  --bg-light: hsl(180, 14%, 97%);

  font-size: 62.5%; /* 1rem = 10px */

  --nav-height: 7.2rem;
}

section.pagamento {
  display: flex;
  max-width: 1100px;
  justify-content: space-around;
  padding: 0 2%;
  margin: 90px auto;
}
@media (max-width: 1024px) {
  section.pagamento {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1100px;
    justify-content: space-around;
    padding: 0 2%;
    margin: 90px auto;
  }
}
.descricao-pagamento {
  width: 40%;
}

.descricao-pagamento h3 {
  color: rgb(140, 140, 140);
}

.descricao-pagamento h2 {
  color: black;
  font-size: 50px;
}

.form-pagamento {
  -webkit-box-shadow: -8px 5px 15px 5px #c7c7c7;
  box-shadow: -8px 5px 15px 5px #c7c7c7;
  padding: 30px 30px 80px 30px;
  width: 50%;
}

.form-pagamento form {
  display: flex;
  flex-wrap: wrap;
}

.form-100 {
  width: 100%;
  margin-bottom: 10px;
}
.form-50 {
  width: 100%;
  display: flex;
  margin-bottom: 10px;
}

.form-pagamento label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: rgb(140, 140, 140);
}

.form-pagamento input[type='text'] {
  padding-left: 10px;
  width: 100%;
  height: 40px;
  border: 1px solid #ccc;
}

.form-pagamento input[type='submit'] {
  width: 100%;
  height: 40px;
  border: 0;
  cursor: pointer;
  background-color: rgb(0, 116, 212);
  color: white;
}

@media screen and (max-width: 768px) {
  .descricao-pagamento .form-pagamento {
    width: 100%;
    margin-bottom: 40px;
  }
}
/* ====== FOOTER ======*/
footer {
  background-color: var(--primary-color);
  padding-block: 7.5rem;
  text-align: left;
  color: white;
}
footer .logo {
  display: inline-block;
  margin-bottom: 2.4rem;
}

footer .logo img {
  width: 23.6rem;
  height: 3.1rem;
}

footer p {
  color: var(--brand-beige);
  line-height: 2;
  margin-bottom: 3.2rem;
}

footer .social-links {
  justify-content: flex-start;
}
